body{

  margin:0;
  padding:0;

  background:#121212;

  color:white;

  font-family:sans-serif;

  text-align:center;
}

.hidden{
  display:none;
}

#loading{

  margin-top:200px;
}

.dragon-list{

  display:flex;

  justify-content:center;

  gap:20px;

  margin-top:50px;
}

.dragon-select{

  width:120px;

  cursor:pointer;

  transition:0.3s;
}

.dragon-select:hover{

  transform:scale(1.1);
}

#dragon-image{

  width:240px;

  margin-top:20px;
}

#timer{

  font-size:72px;

  margin-top:30px;
}

button{

  padding:15px 25px;

  margin:10px;

  border:none;

  border-radius:12px;

  background:#4caf50;

  color:white;

  font-size:20px;

  cursor:pointer;
}

button:hover{

  opacity:0.8;
}
